/* CSS Main */

/* NAVBAR CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}
/* CSS Main */

/* NAVBAR CSS */
:root {
    --white : #fff;
    --coffee: #ad661f;
    --wheat: wheat;
    --old_brown: rgb(247,234,204);
    --title_color: #555555;
    --text_color: #232323;
    --light-gray: rgb(165, 163, 163);
    --blue: #00a8ff;
    --menu_list_height: 121.5px;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#container {
    background-color: #f9f9fb;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.menu {
    background-color: var(--coffee);
    max-width: 100%;  
    position: relative;
}

.menu__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu__list--content {
    padding: 45px 30px;
    display: block;
    position: relative;
}
.menu__list--content:nth-of-type(4) {
    padding: 0 30px;
}
.menu__list--content img {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}

.menu__list--link {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    padding: 3px 0;
    color: var(--wheat);
}

.sub-menu {
    opacity: 0;
    list-style: none;
    position: absolute;
    top: calc(var(--menu_list_height) + 40px);
    left: 0;
    z-index: -1;
    box-shadow: 3px 3px 8px 8px rgba(112, 104, 104, 0.2);
    transition: 0.3s linear;
    border-radius: 10px;
}

.sub-menu__link{
    display: block;
    padding: 10px;
    width: 200px;
    background-color: var(--old_brown);
    border-bottom: 1px solid var(--light-gray);
}

.sub-menu__link:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu__link:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu__content {
    display: inline-block;
    color: var(--title_color);
    position: relative;
}

.menu__user-link {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--wheat);
    text-align: center;
    line-height: 30px;
    color: var(--coffee);
    transition: border-color 0.15s linear;
}

.appear {
    display: block !important;
}

.menu__user-link .sub-menu {
    opacity: 0;
    left: -67px ;
    top: 40px ;
    transition: 0.25s linear;
    transform: scale(0.1);
    display: none;
}

.menu__user-link .sub-menu__link {
    width: 100px;
    height: 40px;
    padding: 3px 5px;
    font-size: 14px;
}

.menu__user-link .sub-menu__link:first-child {
    position: relative;
}

.menu__user-link .sub-menu__link:first-child::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 40px;
    top: -10px;
    right: 0;
}

/* BODY CSS */
.main-content {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0 30px 0;
    display: flex;
}


.paragraph {
    display: flex;
    box-sizing: border-box;
    width: 640px;
    border-bottom: 1px solid #ccc;
}

.paragraph_img {
    padding: 20px 15px;
}

.main-content .paragraph_img img{
    width: 268px;
    height: 168px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.main-content .paragraph_img:hover img {    
    transform: scale(1.04);
}


.paragraph_main {
    padding: 0 15px;
}

.paragraph_header {
    padding: 20px 15px 15px 15px;

}

.paragraph_header a{
    font-size: 15px;
    color: #555555;
    letter-spacing: 4px;
    font-weight: bold;
}

.paragraph_header a:hover {
    color: #ad661f;
}

.paragraph_content p {
    font-size: 13px;
}

.sign_up-notice {
    width: 350px;
    height: 260px;
    background-color: #eeeeee;
    margin-left: 30px;
    text-align: center;
    margin-top: 40px;
}

.sign_up-notice p {
    padding: 20px;
}

.sign_up-notice img  {
    margin-bottom: 20px;
}

.input_sign-up {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 10px;
} 

.sign_up-notice input {
    font-size: 12px;
    height: 34px;
    border: none;
    padding: 5.5px 65px 5.5px 15px;
    outline: none;
}

.sign_up-notice button {
    width: 72px;
    height: 34px;
    color: #fff;
    font-size: 14px;
    border: none;
    font-weight: lighter;
    background: var(--coffee);
}

.sign_up-notice button:hover {
    color: #000;
    cursor: pointer;
}




















/* FOOTER CSS */
.line {
    width: 100%;
    height: 1px;
    background-color: var(--coffee);
}

.footer__contact {
    padding: 20px 0;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__contact--medias h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
.footer__contact--imgs {
    display: flex;
}
.footer__contact--imgs a:nth-of-type(1) {
    width: 13.24px;
    height: 23px;
    display: block;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(2) {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(3) {
    display: block;
    width: 26px;
    height: 20px;
    margin-top: 2px;
}
.footer__contact--imgs a img {
    width: 100%;
    height: 100%;
}
.footer__contact--medias .footer__contact--moiat {
    width: 190px;
    height: 75px;
    margin-top: 3px;
    display: block;
}

.footer__contact--moiat img{
    width: 100%;
    height: 100%;
}

.footer__contact--update {
    margin-right: 75px;
}

.footer__contact--update h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
}

.footer__contact--update p {
    font-size: 12px;
}

.footer__contact--update-input-group {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.footer__contact--update input{
    padding: 5.5px 65px 5.5px 15px;
    font-size: 14px;
    border: 1px solid var(--light-gray);
    outline: 0;
}

.footer__contact--update input::placeholder {
    font-size: 14px;
    color: var(--light-gray);
}

.footer__contact--update button {
    width: 100px;
    height: 35px;
    background-color: var(--coffee);
    border: 0;
    color: var(--white);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer__contact--update-slogan {
    color: rgb(165, 163, 163);
    margin-top: 5px;
}

.footer__addr {
    width: 100%;
    background-color: var(--coffee);
}

.footer__addr--text {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer__addr p {
    font-size: 11px;
    color: var(--white);
    line-height: 20px;
}

.footer__addr b {
    text-transform: uppercase;
}


/* ---- Animation write here ---- */

/* CSS Animation Underline Menu*/
.menu__list--link::before { 
    /* tao persuodo class */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.02px;
    background-color: var(--white);
    transition: 0.25s linear;
    display: block;
}

.menu__list--content span:hover .menu__list--link::before {
    width: 100%;
}

.menu__list--content span:hover .menu__list--link {
    color: var(--white);
}

/* Animation User Icon */
.menu__user-link:hover {
    border-color: #00a8ff;
}
.menu__user-link:hover i{
    color: var(--coffee);
}

/* Sub Menu Animation */
/* tao persuodo class */
.sub-menu__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--coffee);
    transition: width 0.25s linear;
}
.sub-menu__link:hover .sub-menu__content {
    color: var(--coffee);
}
.sub-menu__link:hover .sub-menu__content::before {
    width: 100%;
}

.menu__list--content:hover .sub-menu {
    transform: translateY(calc((var(--menu_list_height) - 56.5px) * -1));
    opacity: 1;
    z-index: 2;
}
.menu__user-link:hover .sub-menu,
.menu__user-link .sub-menu__content:first-child::before {
    opacity: 1;
    z-index: 10;
    transform: scale(1);
}
