/* CSS Main */

/* NAVBAR CSS */
:root {
    --white : #fff;
    --coffee: #ad661f;
    --wheat: wheat;
    --old_brown: rgb(247,234,204);
    --title_color: #555555;
    --text_color: #232323;
    --light-gray: rgb(165, 163, 163);
    --blue: #00a8ff;
    --menu_list_height: 121.5px;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#container {
    background-color: #f9f9fb;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.menu {
    background-color: var(--coffee);
    max-width: 100%;  
    position: relative;
}

.menu__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu__list--content {
    padding: 45px 30px;
    display: block;
    position: relative;
}
.menu__list--content:nth-of-type(4) {
    padding: 0 30px;
}
.menu__list--content img {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}

.menu__list--link {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    padding: 3px 0;
    color: var(--wheat);
}

.sub-menu {
    opacity: 0;
    list-style: none;
    position: absolute;
    top: calc(var(--menu_list_height) + 40px);
    left: 0;
    z-index: -1;
    box-shadow: 3px 3px 8px 8px rgba(112, 104, 104, 0.2);
    transition: 0.3s linear;
    border-radius: 10px;
}

.sub-menu__link{
    display: block;
    padding: 10px;
    width: 200px;
    background-color: var(--old_brown);
    border-bottom: 1px solid var(--light-gray);
}

.sub-menu__link:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu__link:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu__content {
    display: inline-block;
    color: var(--title_color);
    position: relative;
}

.menu__user-link {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--wheat);
    text-align: center;
    line-height: 30px;
    color: var(--coffee);
    transition: border-color 0.15s linear;
}

.appear {
    display: block !important;
}

.menu__user-link .sub-menu {
    opacity: 0;
    left: -67px ;
    top: 40px ;
    transition: 0.25s linear;
    transform: scale(0.1);
    display: none;
}

.menu__user-link .sub-menu__link {
    width: 100px;
    height: 40px;
    padding: 3px 5px;
    font-size: 14px;
}

.menu__user-link .sub-menu__link:first-child {
    position: relative;
}

.menu__user-link .sub-menu__link:first-child::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 40px;
    top: -10px;
    right: 0;
}

/* CSS BODY */
.main-content {
    width: 100%;
    height: calc(100vh - 131.5px);
}

.countries {
    position: fixed;
    background-color: var(--white);
    right: 60px;
    bottom: 0;
    height: calc(100vh - 121.5px);
    max-height: 100%;
    list-style: none;
    padding-left: 30px;
    padding-right: 80px;
    overflow-y: auto;
}

.countries::-webkit-scrollbar{
    width: 5px;
}

.countries::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.countries::-webkit-scrollbar-thumb {
    background: rgb(230, 226, 226);
    border-radius: 10px;
}

.countries__name {
    padding: 15px 0;
    position: relative;
}

.countries__name::after {
    content: '';
    background-color:  #e9e9e9;
    width: 180px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -10px; 
}

.countries__name h6 {
    color: #aca9a9;
    font-size: 12px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.countries__name i {
    color: green;
    margin-right: 7px;
    font-size: 17px;
}

.cities {
    list-style: none;
}
.city__name {
    padding: 8px 0;
    font-size: 13px;
    cursor: pointer;
    transition: 0.15s linear;
}

.city__name:hover {
    color: #aca9a9;
}
/* ---- Animation write here ---- */

/* CSS Animation Underline Menu*/
.menu__list--link::before { 
    /* tao persuodo class */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.02px;
    background-color: var(--white);
    transition: 0.25s linear;
    display: block;
}

.menu__list--content span:hover .menu__list--link::before {
    width: 100%;
}

.menu__list--content span:hover .menu__list--link {
    color: var(--white);
}

/* Animation User Icon */
.menu__user-link:hover {
    border-color: #00a8ff;
}
.menu__user-link:hover i{
    color: var(--coffee);
}

/* Sub Menu Animation */
/* tao persuodo class */
.sub-menu__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--coffee);
    transition: width 0.25s linear;
}
.sub-menu__link:hover .sub-menu__content {
    color: var(--coffee);
}
.sub-menu__link:hover .sub-menu__content::before {
    width: 100%;
}

.menu__list--content:hover .sub-menu {
    transform: translateY(calc((var(--menu_list_height) - 56.5px) * -1));
    opacity: 1;
    z-index: 2;
}
.menu__user-link:hover .sub-menu,
.menu__user-link .sub-menu__content:first-child::before {
    opacity: 1;
    z-index: 10;
    transform: scale(1);
}







